@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";

body {
    direction: rtl;
    text-align: right;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

$disabled-color: #eaebec;

.disabled-panel-fields {
    input {
        pointer-events: none;
    }
    .mat-form-field-outline {
        background-color: $disabled-color !important;

    }
}


input:disabled {
    background-color: $disabled-color !important;
    color:black !important;
}
